@import '@taiga-ui/design-tokens/palette/light.css';
@import '@taiga-ui/design-tokens/palette/shadow.css';
@import '@taiga-ui/design-tokens/palette/animation.css';
@import '@taiga-ui/design-tokens/palette/gradient.css';
@import '@taiga-ui/design-tokens/fonts/desktop.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--tui-background-base);
  color: var(--tui-text-primary);
}

a {
  color: var(--tui-text-action);
  text-decoration: none;
}
